body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 7.5rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4.8rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.2rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #84bd00 !important;
}
.bg-success {
  background-color: #00843d !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #0033a0 !important;
}
.bg-danger {
  background-color: #000000 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #84bd00 !important;
  border-color: #84bd00 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #476600 !important;
  border-color: #476600 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #476600 !important;
  border-color: #476600 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #84bd00 !important;
  border-color: #84bd00 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #476600 !important;
  border-color: #476600 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #476600 !important;
  border-color: #476600 !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #00843d !important;
  border-color: #00843d !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #002d15 !important;
  border-color: #002d15 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #002d15 !important;
  border-color: #002d15 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #0033a0 !important;
  border-color: #0033a0 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #001749 !important;
  border-color: #001749 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #001749 !important;
  border-color: #001749 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #84bd00;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #476600 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #84bd00 !important;
  border-color: #84bd00 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #84bd00;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #476600 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #84bd00 !important;
  border-color: #84bd00 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #00843d;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #002d15 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #00843d !important;
  border-color: #00843d !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #0033a0;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #001749 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #0033a0 !important;
  border-color: #0033a0 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #000000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #84bd00 !important;
}
.text-secondary {
  color: #84bd00 !important;
}
.text-success {
  color: #00843d !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #0033a0 !important;
}
.text-danger {
  color: #000000 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #3d5700 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #3d5700 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #001e0e !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #00123a !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #000000 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #84bd00;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #0033a0;
}
.alert-danger {
  background-color: #000000;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #84bd00;
  border-color: #84bd00;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #84bd00;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #c5ff3e;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #04ff78;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #2167ff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b3b3b3;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #84bd00 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #84bd00;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #84bd00;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #84bd00;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #84bd00;
  border-bottom-color: #84bd00;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #84bd00 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #84bd00 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2384bd00' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tx8MFWViVm {
  z-index: 1000;
  width: 100%;
}
.cid-tx8MFWViVm nav.navbar {
  position: fixed;
}
.cid-tx8MFWViVm .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tx8MFWViVm .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tx8MFWViVm .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tx8MFWViVm .dropdown-item:hover,
.cid-tx8MFWViVm .dropdown-item:focus {
  background: #84bd00 !important;
  color: white !important;
}
.cid-tx8MFWViVm .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tx8MFWViVm .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tx8MFWViVm .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tx8MFWViVm .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tx8MFWViVm .nav-link {
  position: relative;
}
.cid-tx8MFWViVm .container {
  display: flex;
  margin: auto;
}
.cid-tx8MFWViVm .iconfont-wrapper {
  color: #232323 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tx8MFWViVm .dropdown-menu,
.cid-tx8MFWViVm .navbar.opened {
  background: #fafafa !important;
}
.cid-tx8MFWViVm .nav-item:focus,
.cid-tx8MFWViVm .nav-link:focus {
  outline: none;
}
.cid-tx8MFWViVm .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tx8MFWViVm .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tx8MFWViVm .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tx8MFWViVm .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tx8MFWViVm .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tx8MFWViVm .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tx8MFWViVm .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: rgba(250, 250, 250, 0.1);
}
.cid-tx8MFWViVm .navbar.opened {
  transition: all 0.3s;
}
.cid-tx8MFWViVm .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tx8MFWViVm .navbar .navbar-logo img {
  width: auto;
}
.cid-tx8MFWViVm .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tx8MFWViVm .navbar.collapsed {
  justify-content: center;
}
.cid-tx8MFWViVm .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tx8MFWViVm .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tx8MFWViVm .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.6rem);
  }
}
.cid-tx8MFWViVm .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tx8MFWViVm .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tx8MFWViVm .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tx8MFWViVm .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tx8MFWViVm .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tx8MFWViVm .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tx8MFWViVm .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tx8MFWViVm .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tx8MFWViVm .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tx8MFWViVm .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tx8MFWViVm .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tx8MFWViVm .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tx8MFWViVm .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tx8MFWViVm .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tx8MFWViVm .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tx8MFWViVm .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tx8MFWViVm .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tx8MFWViVm .navbar.navbar-short {
  min-height: 60px;
}
.cid-tx8MFWViVm .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tx8MFWViVm .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tx8MFWViVm .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tx8MFWViVm .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tx8MFWViVm .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tx8MFWViVm .dropdown-item.active,
.cid-tx8MFWViVm .dropdown-item:active {
  background-color: transparent;
}
.cid-tx8MFWViVm .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tx8MFWViVm .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tx8MFWViVm .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tx8MFWViVm .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #fafafa;
}
.cid-tx8MFWViVm .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tx8MFWViVm .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tx8MFWViVm ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tx8MFWViVm .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tx8MFWViVm button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tx8MFWViVm button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tx8MFWViVm button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tx8MFWViVm button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tx8MFWViVm button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tx8MFWViVm button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tx8MFWViVm nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tx8MFWViVm nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tx8MFWViVm nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tx8MFWViVm nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tx8MFWViVm .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tx8MFWViVm a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tx8MFWViVm .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tx8MFWViVm .navbar {
    height: 70px;
  }
  .cid-tx8MFWViVm .navbar.opened {
    height: auto;
  }
  .cid-tx8MFWViVm .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tyzHhKpJDI {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tyzHhKpJDI .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #84bd00;
  margin-left: 1rem;
}
.cid-tyzHhKpJDI .panel-group {
  border: none;
}
.cid-tyzHhKpJDI .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-tyzHhKpJDI .panel-body,
.cid-tyzHhKpJDI .card-header {
  padding: 1rem 0;
}
.cid-tyzHhKpJDI .panel-title-edit {
  color: #000000;
}
.cid-tyzHhKpJDI .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-tyzHhKpJDI H3 {
  color: #84bd00;
}
.cid-tyzHjF6oeb {
  background-color: #eae7dc;
}
.cid-tyzHjF6oeb .mbr-text,
.cid-tyzHjF6oeb .mbr-section-btn {
  color: #232323;
}
@media (max-width: 991px) {
  .cid-tyzHjF6oeb .mbr-text,
  .cid-tyzHjF6oeb .mbr-section-title {
    text-align: center;
  }
}
.cid-tyzHjF6oeb a.btn {
  height: 100%;
  margin: 0;
}
.cid-tyzHjF6oeb .mbr-section-btn {
  display: flex;
  margin-bottom: 1.2rem;
  width: 100%;
}
.cid-tyzHjF6oeb .mbr-section-btn .btn {
  width: 100%;
}
@media (max-width: 991px) {
  .cid-tyzHjF6oeb .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-tyzHjF6oeb .content-wrapper {
    flex-direction: column-reverse;
  }
}
.cid-tyzHjF6oeb .justify-content-center {
  align-items: center;
}
.cid-tyzHjF6oeb H1 {
  color: #84bd00;
}
.cid-tyzHjcDhvj {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tyzHjcDhvj .image-wrapper {
  display: flex;
  align-items: center;
}
.cid-tyzHjcDhvj .card-wrapper {
  margin-bottom: 2rem;
  display: flex;
  border-radius: 4px;
  background: #eae7dc;
}
@media (max-width: 991px) {
  .cid-tyzHjcDhvj .card-wrapper {
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tyzHjcDhvj .card-wrapper {
    padding: 2rem 4rem;
  }
}
.cid-tyzHjcDhvj .mbr-iconfont {
  font-size: 2rem;
  padding-right: 1.5rem;
  color: #84bd00;
}
.cid-tyzHjcDhvj .mbr-section-title {
  color: #84bd00;
}
.cid-tyzPRBYqQL {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #ffffff;
}
.cid-tyzPRBYqQL .google-map {
  height: 30rem;
  position: relative;
}
.cid-tyzPRBYqQL .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-tyzPRBYqQL .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-tyzPRBYqQL .google-map[data-state] {
  background: #e9e5dc;
}
.cid-tyzPRBYqQL .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-tyzHrQPMut {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #232323;
}
.cid-tyzHrQPMut .mbr-fallback-image.disabled {
  display: none;
}
.cid-tyzHrQPMut .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tyzHrQPMut .media-wrap {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-tyzHrQPMut .media-wrap {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tyzHrQPMut .row {
    text-align: center;
  }
  .cid-tyzHrQPMut .row > div {
    margin: auto;
  }
  .cid-tyzHrQPMut .social-row {
    justify-content: center;
  }
}
.cid-tyzHrQPMut .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-tyzHrQPMut .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-tyzHrQPMut .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tyzHrQPMut .list {
    margin-bottom: 0rem;
  }
}
.cid-tyzHrQPMut .mbr-text {
  color: #bbbbbb;
}
.cid-tyzHrQPMut .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-tyzHrQPMut .mbr-iconfont {
  color: black;
}
@media (max-width: 991px) {
  .cid-tyzHrQPMut div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-sFCw1qGFAI {
  z-index: 1000;
  width: 100%;
}
.cid-sFCw1qGFAI nav.navbar {
  position: fixed;
}
.cid-sFCw1qGFAI .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sFCw1qGFAI .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sFCw1qGFAI .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sFCw1qGFAI .dropdown-item:hover,
.cid-sFCw1qGFAI .dropdown-item:focus {
  background: #84bd00 !important;
  color: white !important;
}
.cid-sFCw1qGFAI .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sFCw1qGFAI .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sFCw1qGFAI .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sFCw1qGFAI .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sFCw1qGFAI .nav-link {
  position: relative;
}
.cid-sFCw1qGFAI .container {
  display: flex;
  margin: auto;
}
.cid-sFCw1qGFAI .iconfont-wrapper {
  color: #232323 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sFCw1qGFAI .dropdown-menu,
.cid-sFCw1qGFAI .navbar.opened {
  background: #fafafa !important;
}
.cid-sFCw1qGFAI .nav-item:focus,
.cid-sFCw1qGFAI .nav-link:focus {
  outline: none;
}
.cid-sFCw1qGFAI .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sFCw1qGFAI .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sFCw1qGFAI .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sFCw1qGFAI .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sFCw1qGFAI .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sFCw1qGFAI .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sFCw1qGFAI .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: rgba(250, 250, 250, 0.1);
}
.cid-sFCw1qGFAI .navbar.opened {
  transition: all 0.3s;
}
.cid-sFCw1qGFAI .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sFCw1qGFAI .navbar .navbar-logo img {
  width: auto;
}
.cid-sFCw1qGFAI .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sFCw1qGFAI .navbar.collapsed {
  justify-content: center;
}
.cid-sFCw1qGFAI .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sFCw1qGFAI .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sFCw1qGFAI .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.6rem);
  }
}
.cid-sFCw1qGFAI .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sFCw1qGFAI .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sFCw1qGFAI .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sFCw1qGFAI .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sFCw1qGFAI .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sFCw1qGFAI .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sFCw1qGFAI .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sFCw1qGFAI .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sFCw1qGFAI .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sFCw1qGFAI .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sFCw1qGFAI .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sFCw1qGFAI .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sFCw1qGFAI .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sFCw1qGFAI .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sFCw1qGFAI .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sFCw1qGFAI .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sFCw1qGFAI .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sFCw1qGFAI .navbar.navbar-short {
  min-height: 60px;
}
.cid-sFCw1qGFAI .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sFCw1qGFAI .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sFCw1qGFAI .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sFCw1qGFAI .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sFCw1qGFAI .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sFCw1qGFAI .dropdown-item.active,
.cid-sFCw1qGFAI .dropdown-item:active {
  background-color: transparent;
}
.cid-sFCw1qGFAI .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sFCw1qGFAI .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sFCw1qGFAI .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sFCw1qGFAI .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #fafafa;
}
.cid-sFCw1qGFAI .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sFCw1qGFAI .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sFCw1qGFAI ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sFCw1qGFAI .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sFCw1qGFAI button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sFCw1qGFAI button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sFCw1qGFAI button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sFCw1qGFAI button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sFCw1qGFAI button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sFCw1qGFAI button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sFCw1qGFAI nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sFCw1qGFAI nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sFCw1qGFAI nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sFCw1qGFAI nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sFCw1qGFAI .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sFCw1qGFAI a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sFCw1qGFAI .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sFCw1qGFAI .navbar {
    height: 70px;
  }
  .cid-sFCw1qGFAI .navbar.opened {
    height: auto;
  }
  .cid-sFCw1qGFAI .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sFzyUE9AaP {
  padding-top: 8rem;
  padding-bottom: 9rem;
  background-image: url("../../../assets/images/picture3-1224x864.png");
}
@media (min-width: 1500px) {
  .cid-sFzyUE9AaP .container {
    max-width: 1400px;
  }
}
.cid-sFzyUE9AaP .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #4479d9;
  margin-bottom: 2rem;
}
.cid-sFzyUE9AaP .card-wrapper {
  margin-top: 3rem;
}
.cid-sFzyUE9AaP .row {
  justify-content: center;
}
.cid-sFzyUE9AaP .card-title,
.cid-sFzyUE9AaP .iconfont-wrapper {
  color: #000000;
}
.cid-sFzyUE9AaP .card-text {
  color: #000000;
}
.cid-sFzyUE9AaP .mbr-section-title {
  color: #000000;
}
.cid-tyyKxaJhDI {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/background-1.svg");
}
.cid-tyyKxaJhDI .mbr-overlay {
  background: #fafafa;
  opacity: 0.5;
}
.cid-tyyKxaJhDI img,
.cid-tyyKxaJhDI .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-tyyKxaJhDI .item:focus,
.cid-tyyKxaJhDI span:focus {
  outline: none;
}
.cid-tyyKxaJhDI .item-wrapper {
  position: relative;
}
.cid-tyyKxaJhDI .slide-content {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tyyKxaJhDI .slide-content .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-tyyKxaJhDI .slide-content .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tyyKxaJhDI .slide-content .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-tyyKxaJhDI .slide-content .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-tyyKxaJhDI .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tyyKxaJhDI .mbr-section-title {
  color: #232323;
}
.cid-tyyKxaJhDI .mbr-text,
.cid-tyyKxaJhDI .mbr-section-btn {
  text-align: left;
}
.cid-tyyKxaJhDI .item-title {
  text-align: left;
}
.cid-tyyKxaJhDI .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-tyyKxaJhDI .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 370px;
  max-width: 370px;
}
@media (max-width: 768px) {
  .cid-tyyKxaJhDI .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-tyyKxaJhDI .embla__button--next,
.cid-tyyKxaJhDI .embla__button--prev {
  display: flex;
}
.cid-tyyKxaJhDI .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .cid-tyyKxaJhDI .embla__button {
    display: none;
  }
}
.cid-tyyKxaJhDI .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tyyKxaJhDI .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-tyyKxaJhDI .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tyyKxaJhDI .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tyyKxaJhDI .embla__button {
    top: auto;
  }
}
.cid-tyyKxaJhDI .embla {
  position: relative;
  width: 100%;
}
.cid-tyyKxaJhDI .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-tyyKxaJhDI .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tyyKxaJhDI .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tyyKxaJhDI .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 768px) {
  .cid-tyyKxaJhDI .embla__container {
    margin-left: 1.3rem;
    margin-right: 1.3rem;
  }
  .cid-tyyKxaJhDI .embla__container .embla__slide:first-child {
    margin-left: 2rem !important;
  }
  .cid-tyyKxaJhDI .embla__container .embla__slide:last-child {
    margin-right: 2rem !important;
  }
}
.cid-sFAZRnJnnI {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #ffffff;
}
.cid-tyEf0uEQbh {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #232323;
}
.cid-tyEf0uEQbh .mbr-fallback-image.disabled {
  display: none;
}
.cid-tyEf0uEQbh .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tyEf0uEQbh .media-wrap {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-tyEf0uEQbh .media-wrap {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tyEf0uEQbh .row {
    text-align: center;
  }
  .cid-tyEf0uEQbh .row > div {
    margin: auto;
  }
  .cid-tyEf0uEQbh .social-row {
    justify-content: center;
  }
}
.cid-tyEf0uEQbh .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-tyEf0uEQbh .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-tyEf0uEQbh .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tyEf0uEQbh .list {
    margin-bottom: 0rem;
  }
}
.cid-tyEf0uEQbh .mbr-text {
  color: #bbbbbb;
}
.cid-tyEf0uEQbh .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-tyEf0uEQbh .mbr-iconfont {
  color: black;
}
@media (max-width: 991px) {
  .cid-tyEf0uEQbh div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-s48MCQYojq .mbr-section-title {
  text-align: left;
  color: #ffffff;
}
.cid-s48MCQYojq .mbr-text,
.cid-s48MCQYojq .mbr-section-btn {
  color: #84bd00;
  text-align: center;
}
@media (max-width: 991px) {
  .cid-s48MCQYojq .mbr-section-title,
  .cid-s48MCQYojq .mbr-section-btn,
  .cid-s48MCQYojq .mbr-text {
    text-align: center;
  }
}
.cid-s48udlf8KU {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-s48udlf8KU .mbr-section-title {
  text-align: left;
}
.cid-s48udlf8KU .mbr-section-subtitle {
  text-align: left;
}
.cid-tyyfKBNWVR {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fafafa;
}
.cid-tyyfKBNWVR .carousel {
  width: 100%;
}
.cid-tyyfKBNWVR .carousel-inner {
  display: flex;
  align-content: center;
  align-items: center;
}
.cid-tyyfKBNWVR .carousel-item img {
  height: 100vh;
  object-fit: cover;
}
.cid-tyyfKBNWVR .carousel-caption {
  bottom: 40px;
}
.cid-tyyfKBNWVR .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-tyyfKBNWVR .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-tyyfKBNWVR .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
.cid-tyyfKBNWVR .item-wrapper {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-tyyfKBNWVR .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-tyyfKBNWVR .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-tyyfKBNWVR .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-tyyfKBNWVR .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-tyyfKBNWVR .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tyyfKBNWVR .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tyyfKBNWVR .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-tyyfKBNWVR .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-tyyfKBNWVR .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-tyyfKBNWVR .carousel-indicators li.active,
.cid-tyyfKBNWVR .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-tyyfKBNWVR .carousel-indicators li::after,
.cid-tyyfKBNWVR .carousel-indicators li::before {
  content: none;
}
.cid-tyyfKBNWVR .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-tyyfKBNWVR .carousel-indicators {
    display: none !important;
  }
}
.cid-tyyfKBNWVR P {
  color: #ffffff;
}
.cid-tyyfKBNWVR H5 {
  color: #ffffff;
}
.cid-s48vaXqeL6 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-s48vaXqeL6 .mbr-section-title {
  text-align: left;
}
.cid-s48vaXqeL6 .mbr-section-subtitle {
  text-align: left;
}
.cid-tvVRuaF3WJ {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/screenshot-2023-02-15-at-2.53.45-pm-2000x1422.png");
}
.cid-tvVRuaF3WJ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tvVRuaF3WJ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tvVRuaF3WJ .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tvVRuaF3WJ .row {
  flex-direction: row-reverse;
}
.cid-tvVRuaF3WJ img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tvVRuaF3WJ .text-wrapper {
    padding: 2rem;
  }
}
.cid-tyDYCINiSg {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #232323;
}
.cid-tyDYCINiSg .mbr-fallback-image.disabled {
  display: none;
}
.cid-tyDYCINiSg .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tyDYCINiSg .media-wrap {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-tyDYCINiSg .media-wrap {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tyDYCINiSg .row {
    text-align: center;
  }
  .cid-tyDYCINiSg .row > div {
    margin: auto;
  }
  .cid-tyDYCINiSg .social-row {
    justify-content: center;
  }
}
.cid-tyDYCINiSg .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-tyDYCINiSg .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-tyDYCINiSg .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tyDYCINiSg .list {
    margin-bottom: 0rem;
  }
}
.cid-tyDYCINiSg .mbr-text {
  color: #bbbbbb;
}
.cid-tyDYCINiSg .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-tyDYCINiSg .mbr-iconfont {
  color: black;
}
@media (max-width: 991px) {
  .cid-tyDYCINiSg div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-tx8MFWViVm {
  z-index: 1000;
  width: 100%;
}
.cid-tx8MFWViVm nav.navbar {
  position: fixed;
}
.cid-tx8MFWViVm .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tx8MFWViVm .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tx8MFWViVm .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tx8MFWViVm .dropdown-item:hover,
.cid-tx8MFWViVm .dropdown-item:focus {
  background: #84bd00 !important;
  color: white !important;
}
.cid-tx8MFWViVm .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tx8MFWViVm .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tx8MFWViVm .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tx8MFWViVm .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tx8MFWViVm .nav-link {
  position: relative;
}
.cid-tx8MFWViVm .container {
  display: flex;
  margin: auto;
}
.cid-tx8MFWViVm .iconfont-wrapper {
  color: #232323 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tx8MFWViVm .dropdown-menu,
.cid-tx8MFWViVm .navbar.opened {
  background: #fafafa !important;
}
.cid-tx8MFWViVm .nav-item:focus,
.cid-tx8MFWViVm .nav-link:focus {
  outline: none;
}
.cid-tx8MFWViVm .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tx8MFWViVm .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tx8MFWViVm .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tx8MFWViVm .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tx8MFWViVm .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tx8MFWViVm .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tx8MFWViVm .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: rgba(250, 250, 250, 0.1);
}
.cid-tx8MFWViVm .navbar.opened {
  transition: all 0.3s;
}
.cid-tx8MFWViVm .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tx8MFWViVm .navbar .navbar-logo img {
  width: auto;
}
.cid-tx8MFWViVm .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tx8MFWViVm .navbar.collapsed {
  justify-content: center;
}
.cid-tx8MFWViVm .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tx8MFWViVm .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tx8MFWViVm .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.6rem);
  }
}
.cid-tx8MFWViVm .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tx8MFWViVm .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tx8MFWViVm .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tx8MFWViVm .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tx8MFWViVm .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tx8MFWViVm .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tx8MFWViVm .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tx8MFWViVm .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tx8MFWViVm .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tx8MFWViVm .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tx8MFWViVm .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tx8MFWViVm .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tx8MFWViVm .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tx8MFWViVm .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tx8MFWViVm .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tx8MFWViVm .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tx8MFWViVm .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tx8MFWViVm .navbar.navbar-short {
  min-height: 60px;
}
.cid-tx8MFWViVm .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tx8MFWViVm .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tx8MFWViVm .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tx8MFWViVm .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tx8MFWViVm .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tx8MFWViVm .dropdown-item.active,
.cid-tx8MFWViVm .dropdown-item:active {
  background-color: transparent;
}
.cid-tx8MFWViVm .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tx8MFWViVm .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tx8MFWViVm .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tx8MFWViVm .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #fafafa;
}
.cid-tx8MFWViVm .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tx8MFWViVm .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tx8MFWViVm ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tx8MFWViVm .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tx8MFWViVm button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tx8MFWViVm button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tx8MFWViVm button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tx8MFWViVm button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tx8MFWViVm button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tx8MFWViVm button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tx8MFWViVm nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tx8MFWViVm nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tx8MFWViVm nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tx8MFWViVm nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tx8MFWViVm .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tx8MFWViVm a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tx8MFWViVm .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tx8MFWViVm .navbar {
    height: 70px;
  }
  .cid-tx8MFWViVm .navbar.opened {
    height: auto;
  }
  .cid-tx8MFWViVm .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
